<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
</head>
<body>
<nav>
    <ul>
        <li style="list-style-type: none; float: left; padding-right: 10px"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
        <li style="list-style-type: none; float: left; padding-right: 10px"><a asp-area="" asp-controller="Home" asp-action="Upload">Форма ввода</a></li>
        <li style="list-style-type: none; float: left; padding-right: 10px"><a asp-area="" asp-controller="Statistics" asp-action="TextStatistic">Cтатистика</a></li>
    </ul>
</nav>
<div style="clear: both"></div>
    <div class="container body-content">
        <h1>Задание #8</h1>
        @RenderBody() 
        
        <footer style="padding-top: 30px">
            Пузаткин Иван ПС-32
        </footer>
    </div>
</body>
</html>
