@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        <span>Instance:</span>
        <select name="location" style="margin-right: 20px">
            <option value="ru">RU</option>
            <option value="eu">EU</option>
            <option value="us">US</option>
        </select>
        <span>Data:</span>
        <input name="message" type="text" placeholder="Input data"/>
        <input type="submit">
    </form>
</div>