@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    @using(Html.BeginForm("Upload", "Home", FormMethod.Post))
    {
        <input name="data" type="text"/><br>
        <input type="submit">
    }
</div>